<br>
<ul>
    <li style="color:red">
        <b>
            ATTENTION: All RESEARCH lab workstations will be re-imaged this week! Please ensure your data is backed up!
        </b>
    </li>
    
    <br/>
    
    <li style="color:red">
        <b>
            The LCDI LAN Party will be on Friday, March 4th in the LCDI at 5:30pm! Sign up for the party
            <a href="https://docs.google.com/a/champlain.edu/forms/d/1F5xzSKmbpgS_hlL400H8MvbgNtRi3ENh2bgCquk9otU/viewfor...">
                here!
            </a>
        </b>
    </li>
    
    <br/>
    
    <li>
        <b>
            LCDI Spotify Playlist!
        </b>
        Update the LCDI Playlist
        <a href="https://docs.google.com/spreadsheets/d/19AUqThvwKGAxAKCClvGMyXuRnkDPpeKZOIqwI-kBWh0/edit?usp=sharing">
            here!
        </a>
    </li>
    
    &nbsp
    
    <br/>
    
    After reviewing the
    <a href="http://homepage.lcdi/policies.php">Policies</a>
    , please sign the following forms:
    <br />
    <a href="https://docs.google.com/a/champlain.edu/forms/d/1uHD7k2sNPC0EI-KCKj3YkQhJLWFdaGsI8MA77A3e8ik/viewfor...">
        LCDI Policy Manual Acknowledgement
    </a>
    <br/>
    <a href="https://docs.google.com/a/champlain.edu/forms/d/19VtdHYlfyu18sJU0L5DdGT5qi9B6OUGS1S7uUrLYi-w/viewfor...">
        LCDI Workforce Non-Disclosure Agreement
    </a>
    
    <br />
    <br />
    
</ul>