&nbsp 
<ul>
	<li>
		<b>
			<a href="https://drive.google.com/a/champlain.edu/file/d/0B6FfQaQRSV4FSWxOLTJFUVp4Wkk/view?usp=sharing">
				Blog Schedule
			</a>
		</b>
	</li>
	
	&nbsp
	
	<li style="color:red">
		<b>
			Upload your blogs
			<a href="https://drive.google.com/a/champlain.edu/folderview?id=0B6FfQaQRSV4FflFqNU15SUhQVDNKd2VkRW1oSWZiX0FT...">
				here
			</a>
		</b>
	</li>
	
	<br/>
	
	<li style="color:red">
		<b>
			Upload your tweets
			<a href="https://docs.google.com/a/champlain.edu/spreadsheets/d/19z_GrWn83PBXvtyqRW52oC5kf9YheM1csLa8TvunCZg/...">
				here
			</a>
		</b>
	</li>
	
	<br/>
	
	<li>
		<a href="https://docs.google.com/a/champlain.edu/document/d/1HHZ0T0fEuwFxPbgP7QjaUpgYsiOBcA5MGZ0HYySbIZo/edit...">
			<b>
				Research Assistants Monthly Meeting Recap
			</b>
		</a>
	</li>
	
	&nbsp
	
</ul>