{% extends "layout.html" %}

{%block title%}
Home
{%endblock%}

{% block content %}
  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
        <h3> Flask Boilerplate </h3>
        <p> Flask Boilerplate is a complete flask install, all it requires is the installation of flask. </p>
        <hr>
        <h4> Include Packages </h4>
        <p> Out of the box Flask Boilerplate includes the following front-end packages:</p>
        <ul>
          <li>Bootstrap</li>
          <li>JQuery</li>
          <li>JQuery UI</li>
        </ul>
        <h4> Bower </h4>
        <p> I've also included bower, attached to the "static" folder for easy install of additional packages</p>
        <p> Open your terminal to the static folder, and use the following command.
          <pre> bower install foo </pre>
        </p>
        <br>
        <p> You can link to the content in src or href attrbutes like you normally would.
          <pre> {% raw %} src="{{url_for('static',filename='bower_components/foo/bar')}}" {% endraw %}</pre>
        </p>
    </div>
  </div>
{%endblock%}
