<footer class="footer navbar-fixed-bottom">
	<div class="container-narrow">
		<div class="row">
			<div class="col-sm-2">
				<h6>Helpful Links</h6>
				<ul class="unstyled">
					<li>
						<a href="http://gmail.champlain.edu/" target="_blank">
							Gmail
						</a>
					</li>
					<li>
						<a href="https://docs.google.com/a/mymail.champlain.edu/spreadsheets/d/1MUiv5yL58PK6gJ5ibYrknwVI18YhkD9V4pdwr9TNiDk/edit#gid=0" target="_blank">
							Data Recovery Update
						</a>
					</li>
					<li>
						<a href="https://docs.google.com/a/champlain.edu/spreadsheets/d/1eRKGaJUgKP_IMhXJ0suHy-s7LOOiACSARtHLwKc_BII/edit?usp=sharing" target="_blank">
							LCDI Spotify Playlist
						</a>
					</li>
					<li>
						<a href="https://www.hipchat.com/sign_in" target="_blank">
							HipChat
						</a>
					</li>
				</ul><!--end unstyled ul-->
			</div><!--end col sm 3-->
			
			<div class="col-sm-2">
				<h6>More Links</h6>
				<ul class="unstyled">
					<li>
						<a href="http://shuttle.champlain.edu/">
							Champlain Shuttle
						</a>
					</li>
					<li>
						<a href="http://genjob.lcdi/" target="_blank">
							Generate Job Number
						</a>
					</li>
					<li>
						<a href="http://atlassian.lcdi/jira" target="_blank">
							Atlassian
						</a>
					</li>
				</ul><!--end ul unstyled-->
			</div><!--end col-sm-2-->
			
			<div class="col-sm-2">
				<h6>NetAdmin Forms</h6>
				<ul class="unstyled">
					<li>
						<a href="http://home.lcdi/files/Netadmin_Work_Request.pdf" target="_blank">
							Work Request
						</a>
					</li>
					<li>
						<a href="http://home.lcdi/files/Netadmin_Software_Download.pdf" target="_blank">
							Software Download
						</a>
					</li>
				</ul><!--end unstyled ul-->
			</div><!--end col sm 3-->
			
			<div class="col-sm-2 pull-right">
				<h6>Follow Us</h6>
				<ul class="unstyled">
					<li>
						<a href="https://www.facebook.com/LeahyCenterforDigitalInvestigation">
							<img src="{{ url_for('static', filename='facebook.png') }}" alt="FaceBook" width="100">
						</a>
					</li>
					<br>
					<li>
						<a href="https://twitter.com/champforensics">
							<img src="{{ url_for('static', filename='twitter.png') }}" alt="twitter" width="26">
							@ChampForensics
						</a>
					</li>
				</ul><!--end ul unstyled-->
			</div><!--end col sm 2-->
			
			<div class="col-sm-3 pull-right">
				<h6>Contact</h6>
				<ul class="unstyled">
					<li>
						Phone: <a href="tel:8028655744">802-865-5744</a>
					</li>
					<li>
						Jon: <a href="mailto:rajewski@champlain.edu">rajewski@champlain.edu</a>
					</li>
					<li>
						Joe: <a href="mailto:jwilliams@champlain.edu">jwilliams@champlain.edu</a>
					</li>
					<li>
						Alex: <a href="mailto:acaron@champlain.edu">acaron@champlain.edu</a>
					</li>
				</ul><!--end ul unstyled-->
			</div><!--end col sm 2-->
			
		</div><!--end row-->
	</div><!--end container-->
</footer>