{% extends "base/Content.html" %}

{% block content %}
	<!-- Start: Table header -->
	<div class="panel-heading">
		{% block tableHeader %}{% endblock %}
	</div>
	<!-- End: Table header -->
	
	<!-- Start: Table Body -->
	<div class="panel-body">
		<div class="dataTable_wrapper">
			<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
				<thead>
					<tr>
						{% block tableColumnsHeaders %}{% endblock %}
					</tr>
				</thead>
				<tbody>
					{% block tableBody %}{% endblock %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- End: Table Body -->
	
{%endblock%}
