{% extends "baseWithStyles.html" %}

{%block title%}
{{ serialNumber }}
{%endblock%}

{% block content %}

<!-- https://github.com/lcdi/Inventory/blob/master/inventory.php#L831 -->

{% block pre %}{% endblock %}

<table width='100%'>
	<tr>
		<td width="400">
			<img src="{{ url_for('static', filename=photoName) }}" width=400 />
		</td>
		<td align="center">
			{% block HeaderSerialNumber %}{% endblock %}
			<br /><br />
			<h3>Type: {% block ItemType %}{% endblock %}</h3>
			<h3>Description: {% block Description %}{% endblock %}</h3>
		</td>
	</tr>
	<tr>
		<td colspan='2' align="center">
			<h3>State: {% block State %}{% endblock %}</h3>
			<h4>Notes: {% block Notes %}{% endblock %}</h4>
		</td>
	</tr>
</table>

<br />

{% block post %}{% endblock %}

{%endblock%}