body {
	font-family: "Geneva", Arial, sans-serif;
	font-size: 13px;
	margin: 10px;
	background-color: #FEF6E4;
}

a, a:visited {
	color: #09c;
}

a:hover {
	color: #336699;
	text-decoration: none;
}

h1 {
	margin: 0px 0px 10px;	
	font-weight: bold;
}

h2 {
	border-bottom: 2px dotted #ccc;
	margin: 5px 0px 15px;	
}

h6 {
	color: #09c;
}

blockquote {
	font-family: "Georgia", Courier New, courier, sans-serif;
	background: #efefef;
	padding: 5px 10px;
	border: solid 1px #ddd;
	margin: 15px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	color:  #333;
	
}

ul, ol {
	margin-bottom: 15px;
}

li {
	padding: 3px;
}



code {
	background-color: #f1f1f1;
    color: #336699;
}

pre {
	background-color: #f1f1f1;
}

pre > code {
	margin: 0px;
	padding: 5px;
	border: 0px;
	background-color: #f1f1f1;
}
#centered {
	text-align: center;
}
#box {
	margin: auto;
	width: 700px;
	border: 1px solid black;
}

.list {
	width: 700px;
}

.list tr {
	margin:	0px;
	padding: 4px;
}	
