<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>LCDI | {%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}">
    {% block styles %}
    {% endblock %}
  </head>
  <body>

    <ul class="nav nav-pills pull-right">
      <li><a href="http://homepage.lcdi/">LCDI Home Page</a></li>
      <li class="active"><a href="http://inventory.lcdi/">Inventory</a></li>
    </ul>
    <img src="/static/lcdi_logo.jpg" height=50px />
    <hr>

    <div class="container-narrow">
      {% block content %}
        {% block scripts %}
        {% endblock %}
      {% endblock %}
    </div>

    <hr>
    <div class="footer">
      <p><center>&copy; Champlain College LCDI 2013</center></p>
    </div>

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  </body>
</html>
