{% extends "baseContent.html" %}

{% block content %}
	<!-- Start: Table header -->
	<div class="panel-heading">
		{% block tableHeader %}{% endblock %}
	</div>
	<!-- End: Table header -->
	
	<!-- Start: Table Body -->
	<div class="panel-body">
		<div class="dataTable_wrapper">
			<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
				<thead>
					<tr>
						<th>Serial Number</th>
						<th>Type</th>
						{% if log %}
							<th>Use</th>
							<th>Out To</th>
							<th>Date Out</th>
							<th>Sign In / Sign Out</th>
						{% else %}
							<th>Description</th>
							<th>Notes</th>
							<td>Sign In / Sign Out</td>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for q in query %}
						<tr>
							<td>
								<form name="viewSerialForm" role="form" method="POST" action="{{ url_for('index') }}">
									<input name='functionID' value='viewSerial' type='hidden' class='form-contorl' >
									<input name='serial' value='{{ q.SerialNumber }}' type='hidden' >
									<button type="submit" style="
											color: #337AB7;
											background:none!important;
											border:none;
											padding:0!important;
											font: inherit;
											cursor: pointer;">
										{{ q.SerialNumber }}
									</button>
								</form>
							</td>
							<td>{{ q.Type }}</td>
							{% if log %}
								<td>{{ q.log.Purpose }}</td>
								<td>{{ q.log.UserIdentifier }}</td>
								<td>{{ q.log.DateOut }}</td>
								<td>
									<button type="button" class="btn btn-success"
											data-toggle="modal" data-target="#signOutModal">
										<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
										Sign In
									</button>
								</td>
							{% else %}
								<td>{{ q.Description }}</td>
								<td>{{ q.Issues }}</td>
								<td>
									<button type="button" class="btn btn-danger"
											data-toggle="modal" data-target="#signOutModal">
										<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
										Sign Out
									</button>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- End: Table Body -->
	
{%endblock%}

{% block postScripts %}

<script language="javascript">
	function submitForm_ViewSerial() {
		document.viewSerialForm.submit();
	}
</script>

{% endblock %}
