<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>LCDI | {%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}">
    {% block styles %}
    {% endblock %}
  </head>
  <body>

    <!-- BODY CONTAINER -->
    <div class="container-narrow">

      <!-- HEADER -->
      <ul class="nav nav-pills pull-right">
        <li><a href="http://homepage.lcdi/">LCDI Home Page</a></li>
        <li class="active"><a href="http://inventory.lcdi/">Inventory</a></li>
        <li><a href="{{ logoutURL }}">Logout</a></li>
      </ul>
      <img src="/static/lcdi_logo.jpg" height=50px />
      <hr>
      <!-- END HEADER -->

      <!-- BODY CONTENT -->
      {% block content %}
        {% block scripts %}
        {% endblock %}
      {% endblock %}
      <!-- END BODY CONTENT -->

      <!-- FOOTER -->
      <hr>
      <div class="footer">
       <p><center>&copy; Champlain College LCDI 2016</center></p>
      </div>
      <!-- END FOOTER -->

    </div>

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  </body>
</html>
