{% extends "entryBase.html" %}

{% block pre %}
	<form class='form' name='input' action='{{ submitURL }}' method='POST'>
	<input type='hidden' name='formID' value='{{ formID }}'>
{% endblock %}

{% block HeaderSerialNumber %}
	<h1><input name='serialNumber' type='text' style='text-align: center;' value='{{ serialNumber }}'></h1>
{% endblock %}

{% block ItemType %}
	<input name='itemType' type='text' value='{{ itemType }}'>
{% endblock %}

{% block Description %}
	<input name='description' type='text' value='{{ description }}'>
{% endblock %}

{% block State %}
	<input name='state' type='text' value='{{ state }}'>
{% endblock %}

{% block Notes %}
	<input name='notes' type='text' value='{{ notes }}'>
{% endblock %}

{% block post %}
	<button class="btn btn-lg btn-primary btn-block" type="submit" value="Save Changes">Save Changes</button>
	</form>
	<br />
{% endblock %}
