{% extends "entryBase.html" %}

{% block HeaderSerialNumber %}
	<h1>{{ serialNumber }}</h1>
{% endblock %}

{% block ItemType %}
	{{ itemType }}
{% endblock %}

{% block Description %}
	{{ description }}
{% endblock %}

{% block State %}
	{{ state }}
{% endblock %}

{% block Notes %}
	{{ notes }}
{% endblock %}

{% block pre %}
	{% if hasEditAccess %}
		<form class='form' name='input' action='{{ submitURL }}' method='POST'>
		<input type='hidden' name='formID' value='{{ formID }}'>
		<input type='hidden' name='serialNumber' value='{{ serialNumber }}'>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Edit Entry</button>
		</form>
		<br />
	{% endif %}
{% endblock %}

{% block post %}
	<h3 class='center-text'>History</h3>
	<table class='table table-striped table-hover' width='100%'>
		<tr>
			<th>Student</th>
			<th>Use</th>
			<th>Date Out</th>
			<th>Date In</th>
			<th>Issues Reported</th>
			<th>Approved by</th>
		</tr>
		{% for item in history %}
			<tr>
				<td>{{ item.student }}</td>
				<td>{{ item.purpose }}</td>
				<td>{{ item.dateOut }}</td>
				<td>{{ item.dateIn }}</td>
				<td>{{ item.issues }}</td>
				<td>{{ item.authorizer }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
