{% extends "baseViewItemTable.html" %}

{%block title%}
	Inventory
{%endblock%}

{% block preContent %}
	<!-- Start: Header -->
	<div class="col-lg-12">
		<div class="jumbotron">
			<center>
				<h2 style="margin-left: 20px;">
					Welcome back {{ name }}
				</h2>
				<p class="lead" style="margin-left: 20px;">
					<span class='text-info'>
						Your search found {{ totalItems }} items in the inventory.
					</span>
				</p>
			</center>
		</div>
	</div>
	<!-- End: Header -->
	
	<!-- Start: Filter Form -->
	<form action="{{ url_for('index') }}" method="POST" role="form" >
		<input name='functionID' value='filter' type='hidden' class='form-contorl' >
		
		<div class="form-group col-xs-2">
			<select name="type" class="form-control">
				<option value='ALL'>All Item Types</option>
				{% for type in types %}
					<option value='{{ type }}'
						{% if filter_Type == type %}
							selected='selected'
						{% endif %}
					>{{ type }}</option>
				{% endfor %}
			</select>
		</div>
		
		<div class="form-group col-xs-2">
			<select name="status" class="form-control">
				<option value='ALL'>All Items</option>
				<option value='out'
					{% if filter_Status == 'out' %} selected='selected' {% endif %}
				>Signed Out</option>
				<option value='in'
					{% if filter_Status == 'in' %} selected='selected' {% endif %}
				>Signed In</option>
			</select>
		</div>
		
		<div class="form-group col-xs-2">
			<select name="quality" class="form-control">
				<option value='ALL'>Select Quality</option>
				<option
					{% if filter_quality == 'Operational' %} selected='selected' {% endif %}
				>Operational</option>
				<option
					{% if filter_quality == 'Decommissioned' %} selected='selected' {% endif %}
				>Decommissioned</option>
			</select>
		</div>
		
		<div class="form-group col-xs-2">
			<button type='submit' class="btn btn-primary">Filter</button>
		</div>
		
	</form>
	<br />
	<br />
	<!-- End: Filter Form -->
	
{% endblock %}

{% block tableHeader %}
	Signed Out Items
{% endblock %}

{% block modals %}{% endblock %}

{% block scripts %}{% endblock %}
