{% extends "baseWithStyles.html" %}

{%block title%}
Inventory
{%endblock%}

{% block content %}

<div class="jumbo">
	<center>
		<h2>Welcome back {{ name }},</h2>
		<p class="lead">
			There are currently <span class='text-info'>{{ totalItems }}</span> items in inventory and <span class='text-info'>{{ signedOutItems }}</span> currently signed out item[s].
		</p>
	</center>
</div>

<table class='table'>
	<tr>
		<th>Serial Number</th>
		<th>Item Type</th>
		<th>Description</th>
		<th>Notes/Issues</th>
		<th>Quality/State</th>
		<th>In/Out</th>
		<th></th>
	</tr>
	<tr>
		<form class='form' name='filter' method='POST'>
			<input type='hidden' name='formID' value='filter'>
			<!-- Serial Number -->
			<td>
				<input type='text' name='serialNumber'
					class='form-control form-small center-text'
					placeholder='LCDI-1234567' autofocus style='width: 110px'>
			</td>
			<!-- Item Type -->
			<td>
				<select class="form-control" id="sel1" name='itemtype'>
					{% for type in types%}
						<option value='{{ type }}'>{{ type }}</option>";
					{% endfor %}
				</select>
			</td>
			<!-- Description -->
			<td></td>
			<!-- Notes/Issues -->
			<td></td>
			<!-- Quality/State -->
			<td>
				<select class="form-control" id="sel1" name='state'>
			        <option>ALL</option>
			        <option>Operational</option>
			        <option>Decommissioned</option>
			     </select>
			  </div>
			</td>
			<!-- In/Out -->
			<td>
				<!-- This is not needed, due to buttons below
				<select class="form-control" id="sel1" name='status'>
			        <option>In</option>
			        <option>Out</option>
			     </select>
				-->
			</td>
			<!-- Sign In/Out -->
			<td></td>
	</tr>
	<tr>
		<td colspan="7">
			<center>
				<input type='submit' value='In' name='status'>
				<input type='submit' value='All' name='status'>
				<input type='submit' value='Out' name='status'>
			</center>
		</td>
	</tr>
		</form>
	</tr>
	{% for q in query %}
		<tr>
			<td>
				<form class='form' name='entry' method='POST'>
					<input type='hidden' name='formID' value='openEntry'>
					<input class='linkButton' type="submit"
						name='serialNumber' value='{{ q.serialNumber }}'>
				</form>{{ q.idNumber }}
			</td>
			<td>{{ q.typeCategory }}</td>
			<td>{{ q.description }}</td>
			<td>{{ q.issues }}</td>
			<td>{{ q.state }}</td>
			<td>{{ q.status }}</td>
		</tr>
	{% endfor %}
</table>

{%endblock%}
