{% extends "baseWithStyles.html" %}

{%block title%}
Inventory
{%endblock%}

{% block content %}

<div class="login">
	<form action="" method="post" name="input" class="form-signin">
		<h2 class="form-signin-heading">Please sign in: </h2>
		<input type="text" name="username" class="form-control" placeholder="LCDI Username" autofocus >
		<input type="password" name="password" class="form-control" placeholder="Password"><br>
		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
	</form>
</div>

<!--
<form action="" method="post">
    <p><input type=text name=username>
    <p><input type=submit value=Login>
</form>
-->

{%endblock%}

