{% extends "baseWithStyles.html" %}

{%block title%}
Inventory
{%endblock%}

{% block content %}

<div class="login">
	<form name="input" action="" method="post" class="form-signin">
		<h2 class="form-signin-heading">Please sign in: </h2>
		<input name="username" type="text" class="form-control" placeholder="LCDI Username" autofocus>
		<input name="password" type="password" class="form-control" placeholder="Password"><br>
		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
	</form>
</div>

{%endblock%}

