{% extends "baseContent.html" %}

{%block title%}
	{{ item.SerialNumber }}
{%endblock%}

{% block preContent %}{% endblock %}

{% block content %}

	<!-- Start: Table header -->
	<div class="panel-heading">
		<h1>{{ item.SerialNumber }}</h1>
	</div>
	<!-- End: Table header -->
	
	<div class="panel-body">
		
		<!-- Start: Details Body -->
		<div class="col-lg-6">
			
			<div class="well" style="display: flex; justify-content: flex-start;">
				<div>
					<img src="{{ url_for('static', filename='item_photos/' + item.PhotoName) }}" alt = "Item-Photo" style="width: 250px; height: 250px;">                            
				</div>
				<div style="padding-left: 20px;">
					<h4><b>Device Serial Number:</b> {{ item.SerialNumber}} </h4>
					<h4><b>Device Type:</b> {{ item.Type}} </h4>
					<h4><b>State:</b> {{ item.Quality}} </h4>
					<h4><b>Description:</b></h4>
					<div class="well well-sm" style="background: rgb(255,255,255);">
						<p>{{ item.Description}}</p>    
					</div>
					<h4><b>Notes:</b></h4>
					<div class="well well-sm" style="background: rgb(255,255,255);">
						<p>{{ item.Issues}}</p>    
					</div>
				</div>
			</div>
			
			<!-- ADMIN ONLY -->
				<center>
					<button type="button" class="btn btn-warning"
							data-toggle="modal" data-target="#editItemModal">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						Edit Item
					</button>
					<button type="button" class="btn btn-danger"
							data-toggle="modal" data-target="#deleteModal">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						Delete Item
					</button>
				</center>
				<br />
			<!-- END -->
			
		</div>
		<!-- End: Details Body -->
		
		<!-- Start: History Table -->
		<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					History
				</div>
				<div class="panel-body">
					<div class="dataTable_wrapper">
						<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
								<tr>
									<th>Date In</th>
									<th>Date Out</th>
									<th>User In</th>
									<th>User Out</th>
									<th>Out To</th>
									<th>Use</th>
								</tr>
							</thead>
							<tbody>
								{% for l in log %}
									<th>{{ l.DateIn }}</th>
									<th>{{ l.DateOut }}</th>
									<th>{{ l.AuthorizerIn }}</th>
									<th>{{ l.AuthorizerOut }}</th>
									<th>{{ l.UserIdentifier }}</th>
									<th>{{ l.Purpose }}</th>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- End: History Table -->
		
		<!-- Start: Sign In Sign Out -->
		<center>
			<button type="button" class="btn btn-success"
					data-toggle="modal" data-target="#signInModal">
				<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				Sign In
			</button>
			<button type="button" class="btn btn-danger"
					data-toggle="modal" data-target="#signOutModal">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Sign Out
			</button>
		</center>
		<br />
		<!-- END -->
		
	</div>

{%endblock%}

{% block modals %}

	<!-- Start: Edit -->
	<div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<!-- Start: Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">
						Edit Item
					</h4>
				</div>
				<!-- End: Header -->

				<!-- Start: Body -->
				<div class="modal-body">
					<form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
						<input name='functionID' value='updateItem' type='hidden' class='form-control' >
						<input name='serial' value='{{ item.SerialNumber }}' type='hidden' >
						
						<div class="form-group">
							<label for="lcdi_serial">LCDI Serial Number</label>
							<input type="text" class="form-control" name="lcdi_serial" value="{{ item.SerialNumber }}"/>
						</div>
						<div class="form-group">
							<label for="device_serial">Device Serial Number</label>
							<input type="text" class="form-control" name="device_serial" />
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label for="device_types">Select Type</label>
								<select class="form-control" name="device_types">
									<option>{{ item.Type }}</option>
									{% for type in types %}
										<option>{{ type }}</option>
									{% endfor %}
									<option>Other</option>
								</select>
							</div>
							<div class="form-group col-xs-6">
								<label for="other">If Other</label>
								<input type="text" class="form-control" name="other" placeholder=""/>
							</div> 
						</div>
						<div class="form-group">
							<label>Device Description</label>
							<textarea class="form-control" rows="3" name="device_desc">{{ item.Description }}</textarea>
						</div>
						<div class="form-group">
							<label>Notes</label>
							<textarea class="form-control" rows="3" name="device_notes" >{{ item.Issues }}</textarea>
						</div>
						<div class="form-group">
							<label for="device_state">Select Type</label>
							<select class="form-control" name="device_state">
								<option>{{ item.Quality }}</option>
								{% for state in states %}
									<option>{{ state }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label>Add Photo</label>
							<input type="file" name="file">
						</div>
						
						<!-- Start: Footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Close
							</button>
							<button type="submit" class="btn btn-primary">
								Edit Item
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End: Edit -->

	<!-- Start: Delete -->
	<div class="modal fade" id="deleteModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="panel panel-red">
					<div class="panel-heading">
						Confirm Delete?
					</div>
					<div class="panel-body">
						<p>Are You Sure?</p>
						
						<form name="viewSerialForm" role="form" method="POST" action="{{ url_for('index') }}">
							<input name='functionID' value='deleteItem' type='hidden' class='form-contorl' >
							<input name='serial' value='{{ item.SerialNumber }}' type='hidden' >
							<button type="submit" class="btn btn-success" >
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
								Yes
							</button>
						</form>
						
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							No
						</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End: Delete -->
	
	<!-- Start: Sign Out -->
	<div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<!-- Start: Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">
						Sign Out {{ item.SerialNumber }}
					</h4>
				</div>
				<!-- End: Header -->

				<!-- Start: Body -->
				<div class="modal-body">
					<form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
						<input name='functionID' value='signOut' type='hidden' class='form-control'>
						<div class="form-group">
							<label for="signIn_serial">LCDI Serial Number</label>
							<input type="text" class="form-control" name="signOut_serial" value="{{ item.SerialNumber }}"/>
						</div>
						<div class="form-group">
							<label for="studentName">Student Name</label>
							<input type="text" class="form-control" name="studentName" placeholder="jwilliams"/>
						</div>
						<div class="form-group">
							<label>Use</label>
							<textarea class="form-control" rows="3" name="signOut_use" ></textarea>
						</div>
						
						<!-- Start: Footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Close
							</button>
							<button type="submit" class="btn btn-primary">
								Sign Out
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Start: Sign In -->
	<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<!-- Start: Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">
						Sign Out {{ item.SerialNumber }}
					</h4>
				</div>
				<!-- End: Header -->

				<!-- Start: Body -->
				<div class="modal-body">
				</div>
				<!-- Start: Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="submit" class="btn btn-primary">
						Sign In
					</button>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}
